OcrServiceClient/Connected Services/LeadToolsEngineService/EngineService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IISHostLeadTools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IISHostLeadTools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VMProcessResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileResult" nillable="true" type="tns:ArrayOfVMFileResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMProcessResult" nillable="true" type="tns:VMProcessResult" />
  <xs:complexType name="ArrayOfVMFileResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMFileResult" nillable="true" type="tns:VMFileResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMFileResult" nillable="true" type="tns:ArrayOfVMFileResult" />
  <xs:complexType name="VMFileResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldResult" nillable="true" type="tns:ArrayOfVMFieldResult" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMFileResult" nillable="true" type="tns:VMFileResult" />
  <xs:complexType name="ArrayOfVMFieldResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VMFieldResult" nillable="true" type="tns:VMFieldResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVMFieldResult" nillable="true" type="tns:ArrayOfVMFieldResult" />
  <xs:complexType name="VMFieldResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VMFieldResult" nillable="true" type="tns:VMFieldResult" />
</xs:schema>