OcrServiceClient/Connected Services/LeadToolsEngineService/EngineService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ripanpc/LeadToolsEngineIISHost/EngineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IISHostLeadTools" />
  <xs:element name="ProcessFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileOrDir" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IISHostLeadTools" minOccurs="0" name="ProcessFilesResult" nillable="true" type="q1:VMProcessResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>